.card-horizontal-container {
    max-height: 400px;
}

.auction-card-horizontal-img-thumbnail {
    border-radius: 20px;
    min-width: 20%;
    max-width: 20%;
    min-height: 10%;
    max-height: 10%;
}

.auction-card-horizontal {
    border-radius: 20px;
}

.auction-card-horizontal:hover {
    transform: translateY(-5px);
    transition: transform .3s;
}

.card-title-horizontal {
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
}

.card-body-info-horizontal {
    padding: 1em;
}

.auction-current-value-horizontal {
    text-align: right;
}